@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
body,
html {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

ul {
  margin-left: 0;
  padding-left: 0;
}

p {
  margin: 0;
  padding: 0;
}

.wrapper {
  margin: 0 19px;
}

.header {
  margin-bottom: 40px;
}

.header__h1 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.1px;
  color: #898290;
}

.header__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  -webkit-column-gap: 5%;
          column-gap: 5%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__nav {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav__burger {
  display: block;
  position: relative;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.1px;
  width: 13px;
  height: 3px;
  background: url("./../images/burger.svg");
  background-size: 13px 3px;
  background-position: center center;
  cursor: pointer;
}

.header__nav__items {
  display: none;
}

.wrapper-companent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.companent {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (80px)[4];
      grid-template-columns: repeat(4, 80px);
  -webkit-column-gap: 10%;
          column-gap: 10%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  height: 350px;
}

.companent__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 327px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 15px;
  z-index: 10;
}

.companent__col .companent__front,
.companent__col .companent__back,
.companent__col .companent__db,
.companent__col .companent__norm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 16.5px;
}

.companent__col .companent__front {
  position: relative;
  background-color: #4AB6E8;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.companent__col .companent__front::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 9px;
  background-color: #fff;
  top: -9px;
}

.companent__col .companent__back {
  background-color: #AA6FAC;
}

.companent__col .companent__db {
  background-color: #E85498;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.companent__label {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0px;
  color: #898290;
}

.companent__norm {
  background-color: #4AB6E8;
  border-radius: 10px;
  background: repeating-linear-gradient(-45deg, #4AB6E8, #4AB6E8 10px, #fff 0, #fff 17px);
}

.companent__norm__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 48px;
  height: 24px;
  border-radius: 5px;
  background-color: #fff;
  color: #898290;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.charts {
  margin-bottom: 40px;
}

.label__descriptions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 12%;
          column-gap: 12%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0px;
  color: #898290;
}

.label__descriptions__el {
  position: relative;
  list-style-type: square;
}

.label__descriptions__el::before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: #AA6FAC;
  left: -25px;
  top: -3px;
  border-radius: 3px;
}

.label__descriptions__el:first-child::before {
  background-color: #4AB6E8;
}

.label__descriptions__el:last-child::before {
  background-color: #E85498;
}

.compare {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 11%;
          column-gap: 11%;
  margin-left: calc(-80px - 10%);
}

.compare__def {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 30px;
  height: 24px;
  padding: 0 10px;
  border-radius: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #fff;
  z-index: 4;
}

.compare__def p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0px;
  font-weight: bold;
  color: #fff;
  padding: 0;
  margin: 0;
  margin-left: 10px;
}

.compare__def p::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  left: 10px;
  top: 7.5px;
  background-image: url(../images/bad.svg);
  background-size: auto;
  background-repeat: no-repeat;
}

.companent_wrapper {
  position: relative;
}

.before {
  position: absolute;
  content: "";
  width: 15vw;
  max-width: calc(160px + 30%);
  min-width: calc(90px + 30%);
  height: 330px;
  border-top: 1px solid #898290;
  border-left: 1px solid #898290;
  border-right: 1px solid #898290;
  right: 60%;
  top: -11px;
  z-index: 1;
}

.good p {
  margin-left: 10px;
}

.good p::before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.null p {
  margin-left: 0;
}

.null p::before {
  display: none;
}

.companent_wrapper .companent__front::after {
  content: '';
  position: absolute;
  border: solid #898290;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 4px;
  top: -20px;
  right: 55%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
