@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
$color-text: #898290 ;
$front: #AA6FAC;
$back: #4AB6E8;
$db: #E85498;
$value: #fff;
$roboto: 'Roboto', sans-serif;
@mixin font($family, $style, $weight, $size, $height, $spacing) {
	font-family: $family;
	font-style: $style;
	font-weight: $style;
	font-size: $size;
	line-height: $height;
	letter-spacing: $spacing;
}
body, 
html {
	margin: 0;
	padding: 0;
}
li {
    list-style-type: none; 
   }
ul {
    margin-left: 0; 
    padding-left: 0;
   }
   p{
	   margin: 0;
	   padding: 0;
   }
.wrapper {
	margin: 0 19px;

}

